@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular.ttf") format("truetype");
}

.font-roboto {
  font-family: "Roboto", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  border-radius: border-box;
  --blue: rgb(34, 135, 252);
  --light-blue: rgb(84, 152, 230);
  --yellow: rgb(212, 212, 13);
  --background-color: #333333;
  --green: rgb(29, 175, 29);
}

body {
  background: var(--background-color);
  min-height: 100vh;
}

header {
  margin: 0 20px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & > nav > ul {
    display: flex;
    list-style: none;
    gap: 15px;

    & > li > a {
      color: white;
      text-decoration: none;
    }
  }

  & > div {
    & > input {
      border-radius: 5px;
      outline: none;
      border: 1px solid gray;
      padding: 7px 15px;
      width: clamp(200px, 50%, 400px);
    }

    & > button {
      border-radius: 5px;
      padding: 7px 15px;
      border: none;
      background: var(--blue);
      color: white;
      cursor: pointer;
    }
  }
}

.article-movies {
  margin: 0 20px;
}

.section-movies {
  margin-top: 30px;
  min-height: 400px;
  height: 100%;
  display: grid;
  gap: 20px;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.article-best-movies {
  background: rgb(226, 224, 224);

  & > .section-best-movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

    & .best-movie-information {
      display: flex;
      justify-content: space-between;
      background: #e4e3e3;
    }
  }
}

.best-movie-container {
  padding: 10px;
  margin: 10px;
  background: white;

  & > a {
    font-weight: bolder;
  }
}

.best-movie-information > a {
  font-weight: bold;
}
.best-movie-information > span {
  margin-left: 40px;
  font-weight: bold;
}
.best-movie-information > p {
  font-weight: bold;
}

.add-movie {
  position: absolute;
  left: 0;
  top: 0;
}

.movie-poster {
  position: relative;
  min-height: 450px;
  width: 200px;
  & > p {
    color: white;
    margin: 10px 0;
    text-wrap: wrap;
    width: 100%;
  }

  & > img {
    width: 200px;
    aspect-ratio: 2 / 3;
  }
}

.blue-color {
  color: var(--light-blue);
}

.green-color {
  color: var(--green);
}

.yellow_subtitle {
  color: var(--yellow);
  
}

footer {
  text-align: center;
  color: white;
}
